@import url(__brief/two-columns__brief.css);
@import url(__main-text/two-columns__main-text.css);
@import url(__paragraph/two-columns__paragraph.css);

.two-columns {
  width: 80%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}
