.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Шапка сайта */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 5;
}

.header__title {
  width: 703px;
  font-size: 102px;
  font-weight: bold;
  padding-left: 64px;
  display: flex;
  align-items: center;
  line-height: 96px;
  margin: 0;
  z-index: 4;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  bottom: 30px;
  left: 64px;
  position: absolute;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square-pic {
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  z-index: 1;
}

/* Блок Описание */
.description {
  display: flex;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*Блок Цифры и факты*/
.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width:60%;
  line-height: 1.15;
  font-size:60px;
  font-weight: bold;
  margin: 0 auto 0 auto;
  text-align: center;
}

.section-subtitle {
  width:60%;
  line-height: 34px;
  font-size:24px;
  text-align: center;
  margin: 20px auto 0 auto;
}

.table {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  position:relative;
  margin-left: auto;
  margin-right:auto;
  width:1100px;
  justify-content: space-between;
  z-index: 2;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Блок Фрейнман */
.feynman {
  padding-top: 100px;
  background-color: #F2F2F2;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 70px auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size:36px;
  text-align: center;
  margin: 0;
}

.freynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}

/* Блок Кауфман */
.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  background-color: #1F1F1F;
  overflow: hidden;
  z-index: 1;
}

/* Темная тема для таблицы */
.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width:877px;
  height:877px;
  background-repeat: no-repeat;
  position: absolute;
  right: -210px;
  top:0;
  z-index: -1;
}

/* Подвал сайта */
.footer {
  min-height: 350px;
  background-color: #1F1F1F;
}

.footer__columns {
  width: 90%;
  margin: 0 auto 40px auto;
  padding-top: 60px;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin: 18px 0 18px 0;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 16px 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
